.explore {
    background: #fff;
    position: relative;
    overflow: hidden;
}

.explore_wrapper {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.explore_center {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: block;
        width: 343px;
        aspect-ratio: 1 / 1.344;
        background-image: url("/img/home-new/taiko-grid.svg");
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        mask: radial-gradient(circle at 50%, black, transparent);
    }
}

.explore_taiko_image_wrapper {
    width: 100%;
    animation: taikoRound 10s infinite linear;
}

.explore_taiko_image {
    width: 325px;
    position: relative;
    z-index: 2;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 99%;
    }
}

.explore_taiko_alethia {
    position: absolute;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 1px solid #e81899;
    right: calc(50% - 280px);
    top: 44%;
    width: 232px;

    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background: #ffffff;
        position: absolute;
        bottom: 0%;
        right: 0;
        transform: translate(50%, 50%);
    }
}

.explore_taiko_text {
    @include setFontPublicSans600(12px, 1.255, 0.04em, getColorBlack());
    text-transform: uppercase;
    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 1em;

    span {
        color: getColorPink();
    }
}

.explore_taiko_svg {
    width: 100%;
}

.explore_container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    padding-bottom: 56px;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
}

.explore_item {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.explore_title {
    @include setFontClashGrotest500(85px, 0.8, -0.02em, getColorBlack());
    max-width: 4.4em;
}

.explore_text {
    margin-top: 18px;
    @include setFontPublicSans400(14px, 1.255, -0.01em, getColorBlack());
}

.explore_btn {
    margin-top: 28px;
    border: 1.5px solid transparent;
    height: 50px;
}

@keyframes taikoRound {
    0% {
        transform: rotate(0deg) translateX(30px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(30px) rotate(-360deg);
    }
}

@include -screen-xl {
    .explore_container {
        padding: 36px;
    }
    .explore_taiko_image {
        width: 280px;
    }
    .explore_center {
        &::before {
            width: 320px;
        }
    }
    .explore_title {
        font-size: 68px;
    }
}

@include -screen-md {
    .explore_taiko_image {
        width: 220px;
    }
    .explore_center {
        &::before {
            width: 245px;
        }
    }
    .explore_taiko_alethia {
        width: 130px;
        right: auto;
        left: 50%;
        transform: translateX(40px);
        top: 34%;
    }
    .explore_taiko_text {
        font-size: 10px;
    }
    .explore_title {
        font-size: 60px;
    }
    .explore_text {
        margin-top: 16px;
        font-size: 16px;
        max-width: 244px;
    }
    .explore_btn {
        margin-top: 24px;
    }
}

@include -screen-sm {
    .explore_taiko_alethia {
        width: 134px;
        padding-bottom: 6px;
    }
    .explore_taiko_text {
        font-size: 8px;
    }
    .explore_center {
        &::before {
            width: 200px;
        }
    }
}

@media screen and (max-width: 485px) {
    .explore_taiko_image {
        width: 190px;
    }
}
