.faq {
    padding: 30px 0 45px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.content_left {
    width: 450px;
    flex-shrink: 0;
}

.content_right {
    width: calc(100% - 490px);
    max-width: 820px;
}

.title {
    font: 500 60px/.95 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: #22282b;
}

.text {
    max-width: 340px;
    margin-top: 32px;
    font: 400 18px/1.2 $kFontPublicSans;
    letter-spacing: -.02em;
    color: rgba($kColorBlack, .6);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: $kLaptopXXL) {
    .title {
        font-size: 52px;
        max-width: 380px;
    }
}

@media screen and (max-width: $kLaptopM) {
    .content_left {
        width: 350px;
    }

    .content_right {
        width: calc(100% - 390px);
    }
}

@media screen and (max-width: $kTabletXXL) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
    }

    .content_left,
    .content_right {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .title {
        max-width: 100%;
    }

    .text {
        max-width: 100%;
        margin-top: 24px;
    }
}

@media screen and (max-width: $kTabletM) {
    .title {
        font-size: 46px;
        max-width: 7.2em;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 359.98px) {
    .title {
        font-size: 36px;
    }
}
