.title {
    font: 500 40px/1 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: $kColorBlack;
}

.list {
    margin-top: 40px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.card {
    padding: 28px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

.card_inactive {
    opacity: .6;
}

.card_titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.card_title {
    font: 500 28px/.95 $kFontClashGrotesk;
    color: $kColorBlack;
}

.card_track {
    font: 600 14px/1.2 $kFontPublicSans;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $kColorPink;
    margin-top: 4px;
}

.card_text {
    flex-grow: 1;
    font: 400 16px/1.5 $kFontPublicSans;
    color: rgba($kColorBlack, .6);
}

.card_timeline {
    margin-top: 16px;
    font: 400 14px/1.2 $kFontPublicSans;
    color: rgba($kColorBlack, .4);
}

.apply {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: $kTabletXXL) {
    .title {
        font-size: 36px;
    }
}

@media screen and (max-width: $kTabletSM) {
    .list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .title {
        font-size: 32px;
    }

    .card {
        padding: 22px 20px;
    }

    .card_title {
        font-size: 24px;
    }
}
