.cards {
    padding: 30px 0;
}

.list {
    list-style: none;
    display: grid;
    gap: 20px;

    &._3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &._4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 32px;
    border-radius: 20px;
    background: #FFF;
    text-decoration: none;
    position: relative;
    transition: background .2s ease;

    &:hover:not(.card_disabled) {
        background: darken(#fff, 3%);
    }
}

.card_disabled {
    opacity: .5;
    pointer-events: none;
}

.card_badge {
    position: absolute;
    right: 18px;
    top: 18px;
    font: 500 12px/1.2 $kFontPublicSans;
    padding: 4px 10px;
    border-radius: 100px;
    background: rgba(#8e8e93, .12);
    color: #636366;
}

.card_icon {
    width: 112px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}

.card_title {
    margin-top: auto;
    padding-top: 24px;
    font: 500 32px/.95 $kFontClashGrotesk;
    color: $kColorBlack;
}

.card_text {
    margin-top: 24px;
    font: 400 18px/1.2 $kFontPublicSans;
    letter-spacing: -.02em;
    color: rgba($kColorBlack, .6);
}

.card_arrow {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;

    svg {
        width: 100%;
        height: 100%;
        stroke: $kColorPink;
    }
}

@media screen and (max-width: $kLaptopXXL) {
    .list._4 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: $kLaptopM) {
    .list {
        &._3,
        &._4 {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: $kTabletM) {
    .list {
        &._3,
        &._4 {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: $kMobileXXL) {
    .card {
        padding: 24px 20px 40px;
    }

    .card_icon {
        width: 80px;
    }

    .card_title {
        font-size: 24px;
    }

    .card_text {
        font-size: 14px;
    }
}
