.hero {
    padding-top: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.info {
    max-width: 650px;
}

.title {
    font: 500 75px/.9 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: $kColorBlack;
}

.text {
    margin-top: 24px;
    font: 400 18px/1.5 $kFontPublicSans;
    color: rgba($kColorBlack, .7);
    max-width: 550px;
}

.logo {
    width: 200px;
    height: auto;
    flex-shrink: 0;
}

@media screen and (max-width: $kLaptopM) {
    .title {
        font-size: 60px;
    }

    .logo {
        width: 160px;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .logo {
        order: -1;
        width: 120px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .title {
        font-size: 40px;
    }

    .text {
        font-size: 16px;
    }

    .logo {
        width: 100px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .title {
        font-size: 32px;
    }
}
