.hero {
    padding: 96px 18px 48px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0 100px;
    max-width: 1476px;
    width: 100%;
    margin: 0 auto;
}

.grid_lines {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: fill;
}

.container_centered {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 46px;
}

.content_centered {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
}

.hero_icon {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0;

    img {
        width: 32px;
    }
}

.badge {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.badge_logo {
    height: 25px;
    width: auto;
}

.title {
    font: 500 80px/1 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: #191e28;
    max-width: 10.25em;
}

.text {
    margin-top: 32px;
    font: 400 18px/1.255 $kFontPublicSans;
    letter-spacing: -.01em;
    color: rgba($kColorBlack, .6);
    max-width: 530px;
}

@media screen and (max-width: $kLaptopXXL) {
    .title {
        font-size: 68px;
    }

    .text {
        margin-top: 24px;
    }
}

@media screen and (max-width: $kLaptopM) {
    .title {
        font-size: 56px;
    }

    .container_centered {
        padding: 48px 0 40px;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .wrapper {
        padding: 52px 0;
    }

    .container_centered {
        padding: 30px 0;
    }

    .title {
        font-size: 55px;
    }

    .text {
        font-size: 16px;
    }

    .content_centered {
        padding: 54px 0;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .hero {
        padding: 60px 0 24px;
    }

    .title {
        font-size: 44px;
    }

    .container_centered {
        padding: 20px 0;
    }

    .content_centered {
        padding: 40px 0;
    }

    .hero_icon {
        padding: 15px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .title {
        font-size: 36px;
    }
}
