.hero {
    padding-top: 40px;
    padding-bottom: 40px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 100px;
    background: rgba($kColorBlack, .04);
    margin-bottom: 32px;
}

.badge_logo {
    height: 20px;
    width: auto;
}

.title {
    font: 500 72px/.95 $kFontClashGrotesk;
    letter-spacing: -.03em;
    color: $kColorBlack;
    max-width: 800px;
}

.text {
    margin-top: 24px;
    font: 400 18px/1.5 $kFontPublicSans;
    color: rgba($kColorBlack, .6);
    max-width: 550px;
}

@media screen and (max-width: $kLaptopM) {
    .title {
        font-size: 56px;
    }
}

@media screen and (max-width: $kTabletXXL) {
    .title {
        font-size: 48px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .hero {
        padding-top: 24px;
    }

    .title {
        font-size: 36px;
    }

    .text {
        font-size: 16px;
    }
}

@media screen and (max-width: $kMobileSM) {
    .title {
        font-size: 28px;
    }
}
